* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}

h1 {
  margin: 0;
  padding: 1rem 0 0;
  font-weight: normal;
  font-size: 1.5rem;
}

h2 {
  max-width: 1000px;
  margin: 1.5rem auto;
  text-decoration: underline;
}

ul {
  list-style: none;
}

nav {
  margin: 0.5rem 0;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  flex: 1 0 auto;
  display: inline-block;
}

nav ul li a {
  color: #fff;
}

nav ul li a:focus, nav ul li a:hover {
  text-decoration: none;
}

section {
  padding: 0 2rem;
  color: #575652;
  font-size: 1rem;
}

section:first-child {
  color: #fff;
  background: #146eb5;
  background: linear-gradient(45deg, #146eb5 0%, #76d89f 100%);
}

.flex {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}

.flex h1,
.flex nav {
  flex: 1;
}

.flex_second {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}

.flex_second div {
  flex: 1;
}

.flex_second p:not(:first-child) {
  font-size: 0.75rem;
}

.image_placeholder {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 150px;
  margin: 0 auto 2rem;
  background-color: #000;
}

.breeds {
  max-width: 1000px;
  margin: auto;
  padding-left: 0;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.breeds li:not(:first-child) {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
  .flex h1,
  .flex nav {
    align-self: center;
  }
  .flex nav {
    margin: 0;
  }
  .flex nav ul {
    justify-content: flex-end;
  }
  .flex nav ul li {
    flex: 0 0 auto;
  }
  .flex nav ul li:not(:last-child) {
    padding-right: 1.5rem;
  }
  .flex_second {
    flex-direction: row;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  .flex_second div:not(:first-child) {
    flex-grow: 1.8;
  }
  .image_placeholder {
    height: 175px;
    width: 300px;
    margin: 0 0 2rem auto;
  }
}
